body {
  font-size: 18px;
  background: #f4f4f4;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  margin-top: 10px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
  color: #666;
}

h5 {
  font-size: 14px;
  color: #666;
}

h3, h4 {
  font-weight: 400;
}

.fa {
  position: relative;
  top: -3px;
  font-size: 14px;
  opacity: 0.6;
}

.title {
  padding: 0 10px;
}

.hr {
  position: relative;
  top: 1px;
  width: 100px;
  height: 10px;
  display: inline-block;
  display: none;
  border-top: 1px solid #e4e4e4;
}

.navbar {
  padding: 1.25rem 0;
  text-align: center;
  background: #007fd3;
  border-radius: 0;
}

.navbar-brand {
  margin-right: 0;
  float: none;
  color: #fff;
}

.logo {
  margin: 0 auto;
  width: 150px;
}

.day-1 {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 20px;
  text-align: center;
  background: #fff;
}

.day-2-3 {
  display: none;
}

ol {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

li {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

li:first-child {
  border-top: 1px solid #eee;
}

.tiebreakers {
  font-size: 10px;
  display: none;
}

h6 {
  font-size: 12px;
}
