body {
  font-size: 18px;
  background: #f4f4f4;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  margin-top: 10px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
  color: #666;
}

h5 {
  font-size: 14px;
  color: #666;
}

h3, h4 {
  font-weight: 400;
}

.fa {
  position: relative;
  top: -3px;
  font-size: 14px;
  opacity: 0.6;
}

.title {
  padding: 0 10px;
}

.navbar {
  padding: 1.25rem 0;
  height: 60px;
  text-align: center;
  background: #007fd3;
  border-radius: 0;
}

.navbar-brand {
  margin-right: 0;
  float: none;
  color: #fff;
}

.logo {
  margin: 0 auto;
  width: 150px;
}

.day {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 1px 1px 0 #e2e2e2;
}

.day-1 {
  margin-top: 15px;
}

.day-2-3 {
  margin-top: 15px;
  margin-bottom: 25px;
}

.day-2-title {
  position: absolute;
  left: 150px;
}

.day-3-title {
  position: absolute;
  left: 620px;
}

.bracket {
  padding-bottom: 30px;
  margin: 120px auto 0;
  width: 80%;
}

ol {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

li {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

li:first-child {
  border-top: 1px solid #eee;
}

.tiebreakers {
  font-size: 10px;
  display: none;
}

h6 {
  font-size: 12px;
}
