@import url('https://fonts.googleapis.com/css?family=Work+Sans');

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  background: #f4f4f4;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  margin-top: 10px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

h4 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

h5 {
  font-size: 14px;
  color: #666;
}

h6 {
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
}

.logo {
  margin: 0 auto;
  width: 150px;
}

.navbar {
  position: absolute;
  padding: 1.25rem 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background: #007fd3;
  border-radius: 0;
  box-shadow: 1px 1px 1px #ccc;
  z-index: 1;
}

.navbar-brand {
  margin-right: 0;
  float: none;
  color: #fff;
}

.main {
  margin-top: 60px;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 20px 0 0;
  max-width: 1000px;
  text-align: center;
  background: #fff;
  box-shadow: 1px 1px 0 #e2e2e2;
}

.panel-title {
  font-size: 14px;
}

.panel-title a {
  margin-bottom: 12px;
  padding: 14px 12px 0;
  display: block;
  line-height: 20px;
  transition: background 0.3s;
}

.title {
  padding: 0 10px;
}

.stream {
  top: 20px;
  margin: 20px auto 0;
  padding-top: 0;
}

.stream iframe {
  width: 100%;
  height: 600px;
}

.day-2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.day-3-4 {
  margin-bottom: 15px;
}

.day-3-title {
  position: absolute;
  left: 12%;
}

.day-4-title {
  position: absolute;
  left: 61%;
}

.day-3-4-title {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  display: none;
}

ol {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

ol li {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

ol li:first-child {
  border-top: 1px solid #eee;
}

ol li:last-child {
  border-bottom: 0;
}

.matchup {
  display: block;
}

.rank {
  margin-top: -3px;
  margin-right: -3px;
  width: 18px;
}

.vs {
  font-size: 14px;
}

.arena {
  padding: 4px 10px;
  font-size: 12px;
  background: #f5f5f5;
  border-radius: 2px;
  color: #919191;
}

.tiebreakers {
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: 10px;
  text-align: left;
  display: none;
}

.tiebreakers ol {
  margin-top: 0;
  display: inline-block;
}

.tiebreakers li {
  display: inline-block;
  border: 0;
}

.tiebreakers li:first-child {
  border: 0;
}

.bracket {
  margin: 100px auto 0;
  padding-bottom: 50px;
  width: 90%;
  display: flex;
  flex-direction: row;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 267px;
  list-style: none;
  padding: 0;
}

.round .spacer {
  flex-grow: 1;
}

.round .game-spacer {
  flex-grow: 1;
}

li.game {
  position: relative;
  padding-left: 10px;
  font-size: 16px;
  text-align: center;
}

.winner {
  font-weight: 700;
}

.wins {
  padding: 2px 10px;
  float: right;
  display: inline-block;
  font-size: 14px;
  background: #eee;
  visibility: hidden;
}

.round-1 .wins {
  visibility: visible;
}

.round-2 .wins {
  visibility: hidden;
}

li.game-top .wins {
  position: relative;
  top: -3px;
}

li.game-top {
  border-bottom: 2px solid #ccc;
}

li.game-spacer {
  border-right: 2px solid #ccc;
  min-height: 100px;
}

li.game-bottom {
  padding-top: 3px;
  border-top: 2px solid #ccc;
}

.round-1-top-spacer {
  height: 52px;
}

.round-1 li.game-spacer {
  min-height: 32px;
  flex-grow: 0.3;
}

.round-3 .game-spacer {
  min-height: 142px;
}

.round-4 li.game {
  padding-left: 16px;
}

.round-4 .spacer:first-child {
  min-height: 36px;
}

.fa {
  position: relative;
  top: -3px;
  font-size: 14px;
  opacity: 0.6;
}

.trophy {
  top: -2px;
}

.hidden {
  visibility: hidden;
}

@media(max-width: 700px) {
  .trophy {
    top: -1px;
    position: relative;
    font-size: 10px;
  }

  .navbar {
    box-shadow: none;
  }

  .stream {
    top: 0;
  }

  .stream iframe {
    height: 350px;
  }

  .day-1 {
    margin-bottom: 0;
  }

  .day-3-title, .day-4-title {
    display: none;
  }

  .day-3-4-title {
    display: block;
  }

  .day-2 {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 5px solid #f4f4f4;
    border-bottom: 5px solid #f4f4f4;
  }

  .tiebreakers {
    margin-bottom: 0;
    padding: 15px 25px;
    border-top: 2px solid #f4f4f4;
    text-align: center;
  }

  .tiebreakers h6, .tiebreakers ol, .tiebreakers li {
    display: inline;
  }

  .tiebreakers h6 {
    padding-right: 5px;
  }

  .tiebreakers li {
    padding-left: 0;
    padding-right: 5px;
  }

  .day-3-4-title {
    display: block;
  }
}

@media(max-width: 640px) {
  .bracket {
    margin-top: 130px;
    zoom: 0.8;
  }

  li.game-top, li.game-bottom, li.game-spacer {
    border-width: 3px;
  }
}

@media(max-width: 510px) {
  .stream iframe {
    height: 250px;
  }

  .bracket {
    margin-top: 155px;
    zoom: 0.7;
  }

  li.game {
    font-size: 17px;
  }

  li.game-top, li.game-bottom, li.game-spacer {
    border-width: 4px;
  }

  .wins {
    padding: 2px 6px;
    font-size: 10px;
  }

  li.game-top .wins {
    top: 0;
  }
}

@media(max-width: 465px) {
  .bracket {
    margin-top: 180px;
    zoom: 0.6;
  }
}
